# **Name: Mudunuri Ajay Varma**
# **Assignment 1**

**Task 1:** Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [2]:
import numpy as np
import pandas as pd

data=np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.988004   0.553419   0.472376   0.949729
1   0.066402   0.266688   0.100065   0.207403
2   0.327603   0.380350   0.769223   0.766605
3   0.847986   0.914125   0.958327   0.603045

**Task 2:** Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [3]:
df = df.rename(columns={
    'Feature 1': 'Random value 1',
    'Feature 2': 'Random value 2',
    'Feature 3': 'Random value 3',
    'Feature 4': 'Random value 4'
})

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.988004        0.553419        0.472376        0.949729
1        0.066402        0.266688        0.100065        0.207403
2        0.327603        0.380350        0.769223        0.766605
3        0.847986        0.914125        0.958327        0.603045

**Task 3:** Find the descriptive statistics of the 'df' dataframe.

In [5]:
status=df.describe()
print(status)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.557499        0.528646        0.574998        0.631695
std          0.433492        0.282738        0.374503        0.316328
min          0.066402        0.266688        0.100065        0.207403
25%          0.262303        0.351935        0.379299        0.504134
50%          0.587795        0.466885        0.620800        0.684825
75%          0.882991        0.643596        0.816499        0.812386
max          0.988004        0.914125        0.958327        0.949729

**Task 4:** Check for the null values in 'df' and find the data type of the columns.

In [10]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [11]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

**Task 5:** Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [12]:
# Using location method (column names)
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.553419        0.472376
1        0.266688        0.100065
2        0.380350        0.769223
3        0.914125        0.958327

In [13]:
# Using index location method (column indices)
df.iloc[:, [1, 2]]

   Random value 2  Random value 3
0        0.553419        0.472376
1        0.266688        0.100065
2        0.380350        0.769223
3        0.914125        0.958327